body {
    background-color : #e3e5e8;
	font-size 		 : 12pt; 
}

a:link {
	color 			 : #000;
}

a:visited {
	color 			 : #B47BD5;
}

a:hover {
	color 			 : #A760D0;
}

a:active {
	color 			 : #A760D0;
}

table {
	width 			 : 100%;
	border 			 : 1px solid black;
}
			
td {
	padding 		 : 7px;
	border 			 : 1px solid black;
}

#header {
	font-weight 	 : bold;
}